<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.orion.prointeractofficer">
    <!-- permission for working with geofences -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <dist:module dist:instant="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ScrollingActivity"
            android:label="@string/title_activity_scrolling"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <!-- Location Updates Broadcast Receiver -->
        <receiver
            android:name=".LocationUpdatesBroadcastReceiver"
            android:enabled="true"
            android:exported="true" /> <!-- Geofence Broadcast Receiver -->
        <receiver
            android:name=".GeofenceBroadcastReceiver"
            android:enabled="true"
            android:exported="true" /> <!-- Geofence Transition Job Intent Service -->
        <service
            android:name=".GeofenceTransitionsJobIntentService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" /> <!-- Location Updates Intent Service -->
        <service
            android:name=".LocationUpdatesIntentService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <activity android:name=".GeofenceActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".OfficerAuthActivity"
            android:parentActivityName=".MainActivity"></activity>
        <activity
            android:name=".OfficerSetupActivity"
            android:label="Edit profile"></activity>
        <activity
            android:name=".OfficerPanel"
            android:label="Home"></activity>
    </application>

</manifest>